#container{
    border:2px solid black;
    display:flex;
    height:500px;
}


#div1,#div2,#div3,#div4{
    font-size:35px;
    font-weight:bold;
    border:1px solid black;
    flex-basis:200px;

}

#div1{
    background-color:blueviolet;
   
    
}

#div2{
    background-color:blue;
    
}

#div3{
    background-color:purple;
    
}

#div4{
    background-color:greenyellow;
    align-self:flex-end;
    
}




