
*{
    margin: 0;
    padding:0;
}


div{
    font-size:60px;
    font-weight: bold;
    color:greenyellow;
    width:700px;
    background-color:red;
    
}

p{
    background-color:black;
    color:white;
}

.fraseA{
    background-color:blue;
}

#frase1{
    background-color:grey;
}


.frase1{
    background-color:violet;
    font-size:20px;
    
}









