#container{
    border:2px solid blue;
    width:1000px;
    font-family:sans-serif;
    
}

nav span{
    font-size:35px;
    
}

nav > a:link{
    color:red
}

nav > a:visited{
    color:red;
}

nav a:active{
    background-color:yellow;
}