html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

main{
    display:flex;
    flex-direction:row;
}

header {
    background: purple;
    height: 100px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
}

article {
    padding: 10px;
    margin: 10px;
    background: aqua;
    flex-grow:2;
}

footer{
    padding:10px;
    margin:10px;
    background-color:yellow;
}